<p>Directorio actual de trabajo <%= directorio%></p>
<p>ID del proceso <%= id%></p>
<p>sistema operativo <%= os%></p>
<p>Versión de Node <%= versionNode%></p>
<p>Memoria destinada <%= memoria%></p>
<p>Argumentos <%= argumentos%></p>
<p>Path de ejecución <%= path%></p>
